<?xml version="1.0" encoding="utf-8"?>
<odoo> 
    <menuitem id="educ_menu"
        name="Education"
        web_icon="education,static/description/education.jfif"
        action="education.action_cours" 
        sequence="5"
        groups="group_access"/>  
    <menuitem id="cours_menu"
        name="Course" 
        parent="educ_menu"
        action="education.action_cours" 
        sequence="6"/>
    <menuitem id="classes_menu"
        name="Classes" 
        parent="educ_menu"
        action="education.action_classes" 
        sequence="7"/>
    <menuitem id="niveau_menu"
        name="Level" 
        parent="educ_menu"
        action="education.action_niveau" 
        sequence="8"/>
    <menuitem id="etudiant_menu"
        name="Student" 
        parent="educ_menu"
        action="education.action_etudiant" 
        sequence="9"/>
    <menuitem id="enseignant_menu"
        name="Teachers" 
        parent="educ_menu"
        action="education.action_enseignant" 
        sequence="10"/>
      <menuitem id="coordination_menu"
        name="Course coordination" 
        parent="educ_menu"
        action="education.action_coordination" 
        sequence="11"/>
    <menuitem id="calendriers_menu"
        name="Course calendar" 
        parent="educ_menu"
        action="education.action_calendrier" 
        sequence="12"/>
    <!-- <menuitem id="utilisateur_menu"
        name="Utilisateur" 
        parent="educ_menu"
        action="education.action_etulisateur" 
        sequence="13"/> -->
</odoo>